@import "tailwindcss";

@theme {
	--color-primary-green-50: #e6efeb;
	--color-primary-green-100: #b0cec1;
	--color-primary-green-200: #8ab7a3;
	--color-primary-green-300: #549679;
	--color-primary-green-400: #33815f;
	--color-primary-green-500: #006237;
	--color-primary-green-600: #005932;
	--color-primary-green-700: #004627;
	--color-primary-green-800: #00361e;
	--color-primary-green-900: #002917;

	--color-primary-black-50: #e6e6e6;
	--color-primary-black-100: #b0b0b0;
	--color-primary-black-200: #8a8a8a;
	--color-primary-black-300: #545454;
	--color-primary-black-400: #333333;
	--color-primary-black-500: #000000;
	--color-primary-black-600: #000000;
	--color-primary-black-700: #000000;
	--color-primary-black-800: #000000;
	--color-primary-black-900: #000000;

	--color-primary-grey-50: #e9e9e9;
	--color-primary-grey-100: #b9b9b9;
	--color-primary-grey-200: #989898;
	--color-primary-grey-300: #686868;
	--color-primary-grey-400: #4b4b4b;
	--color-primary-grey-500: #1e1e1e;
	--color-primary-grey-600: #1b1b1b;
	--color-primary-grey-700: #151515;
	--color-primary-grey-800: #111111;
	--color-primary-grey-900: #0d0d0d;

	--color-error-50: #feeceb;
	--color-error-100: #fac5c1;
	--color-error-200: #f8a9a3;
	--color-error-300: #f5827a;
	--color-error-400: #f36960;
	--color-error-500: #f04438;
	--color-error-600: #da3e33;
	--color-error-700: #aa3028;
	--color-error-800: #84251f;
	--color-error-900: #651d18;

	--color-warning-50: #fef4e6;
	--color-warning-100: #fdddb3;
	--color-warning-200: #fbcc8e;
	--color-warning-300: #fab55a;
	--color-warning-400: #f9a63a;
	--color-warning-500: #f79009;
	--color-warning-600: #e18308;
	--color-warning-700: #af6606;
	--color-warning-800: #884f05;
	--color-warning-900: #683c04;

	--color-success-50: #e7f8f0;
	--color-success-100: #b6e9d1;
	--color-success-200: #92deba;
	--color-success-300: #60cf9b;
	--color-success-400: #41c588;
	--color-success-500: #12b76a;
	--color-success-600: #10a760;
	--color-success-700: #0d824b;
	--color-success-800: #0a653a;
	--color-success-900: #084d2d;

	--color-neutral-0: #ffffff;
	--color-neutral-10: #fbfbfb;
	--color-neutral-20: #f6f6f6;
	--color-neutral-30: #eeeeee;
	--color-neutral-40: #e3e3e3;
	--color-neutral-50: #cacaca;
	--color-neutral-60: #bdbdbd;
	--color-neutral-70: #b2b2b2;
	--color-neutral-80: #a5a5a5;
	--color-neutral-90: #989898;
	--color-neutral-100: #8b8b8b;
	--color-neutral-200: #7f7f7f;
	--color-neutral-300: #727272;
	--color-neutral-400: #676767;
	--color-neutral-500: #5a5a5a;
	--color-neutral-600: #505050;
	--color-neutral-700: #414141;
	--color-neutral-800: #343434;
	--color-neutral-900: #292929;

	--color-secondary-brown-50: #f7f5f3;
	--color-secondary-brown-100: #e5e1da;
	--color-secondary-brown-200: #d9d2c9;
	--color-secondary-brown-300: #c7bdb0;
	--color-secondary-brown-400: #bdb1a1;
	--color-secondary-brown-500: #ac9d89;
	--color-secondary-brown-600: #9d8f7d;
	--color-secondary-brown-700: #7a6f61;
	--color-secondary-brown-800: #5f564b;
	--color-secondary-brown-900: #48423a;

	--color-secondary-blue-50: #eaf0f4;
	--color-secondary-blue-100: #bfd2dc;
	--color-secondary-blue-200: #a0bccb;
	--color-secondary-blue-300: #759db3;
	--color-secondary-blue-400: #5a8aa5;
	--color-secondary-blue-500: #316d8e;
	--color-secondary-blue-600: #2d6381;
	--color-secondary-blue-700: #234d65;
	--color-secondary-blue-800: #1b3c4e;
	--color-secondary-blue-900: #152e3c;

	--color-secondary-pink-50: #f4eef3;
	--color-secondary-pink-100: #ddcbd9;
	--color-secondary-pink-200: #ccb2c7;
	--color-secondary-pink-300: #b58fad;
	--color-secondary-pink-400: #a6799d;
	--color-secondary-pink-500: #905885;
	--color-secondary-pink-600: #835079;
	--color-secondary-pink-700: #663e5e;
	--color-secondary-pink-800: #4f3049;
	--color-secondary-pink-900: #3c2538;

	--color-secondary-green-50: #f4f8ef;
	--color-secondary-green-100: #deeace;
	--color-secondary-green-200: #cde0b6;
	--color-secondary-green-300: #b7d295;
	--color-secondary-green-400: #a9c981;
	--color-secondary-green-500: #93bc61;
	--color-secondary-green-600: #86ab58;
	--color-secondary-green-700: #688545;
	--color-secondary-green-800: #516735;
	--color-secondary-green-900: #3e4f29;

	--color-secondary-aqua-50: #f1fafb;
	--color-secondary-aqua-100: #d3eef1;
	--color-secondary-aqua-200: #bee6eb;
	--color-secondary-aqua-300: #a1dae2;
	--color-secondary-aqua-400: #8ed3dc;
	--color-secondary-aqua-500: #72c8d3;
	--color-secondary-aqua-600: #68b6c0;
	--color-secondary-aqua-700: #518e96;
	--color-secondary-aqua-800: #3f6e74;
	--color-secondary-aqua-900: #305459;

	--color-tertiary-green-50: #ecf3f0;
	--color-tertiary-green-100: #c4d9cf;
	--color-tertiary-green-200: #a8c6b8;
	--color-tertiary-green-300: #80ad98;
	--color-tertiary-green-400: #689d84;
	--color-tertiary-green-500: #428465;
	--color-tertiary-green-600: #3c785c;
	--color-tertiary-green-700: #2f5e48;
	--color-tertiary-green-800: #244938;
	--color-tertiary-green-900: #1c372a;

	--color-tertiary-beige-50: #f8f7f5;
	--color-tertiary-beige-100: #e8e5e1;
	--color-tertiary-beige-200: #ddd8d2;
	--color-tertiary-beige-300: #cec7bd;
	--color-tertiary-beige-400: #c5bcb1;
	--color-tertiary-beige-500: #b6ab9d;
	--color-tertiary-beige-600: #a69c8f;
	--color-tertiary-beige-700: #81796f;
	--color-tertiary-beige-800: #645e56;
	--color-tertiary-beige-900: #4c4842;

	--color-tertiary-blue-50: #f0f4f6;
	--color-tertiary-blue-100: #d2dbe4;
	--color-tertiary-blue-200: #bccad7;
	--color-tertiary-blue-300: #9db2c4;
	--color-tertiary-blue-400: #8aa3b9;
	--color-tertiary-blue-500: #6d8ca7;
	--color-tertiary-blue-600: #637f98;
	--color-tertiary-blue-700: #4d6377;
	--color-tertiary-blue-800: #3c4d5c;
	--color-tertiary-blue-900: #2e3b46;

	--color-tertiary-light-green-50: #f7faf4;
	--color-tertiary-light-green-100: #e5f0de;
	--color-tertiary-light-green-200: #d9e8ce;
	--color-tertiary-light-green-300: #c7deb8;
	--color-tertiary-light-green-400: #bdd8aa;
	--color-tertiary-light-green-500: #acce95;
	--color-tertiary-light-green-600: #9dbb88;
	--color-tertiary-light-green-700: #7a926a;
	--color-tertiary-light-green-800: #5f7152;
	--color-tertiary-light-green-900: #48573f;

	--color-tertiary-light-blue-50: #f1fafb;
	--color-tertiary-light-blue-100: #d3eef1;
	--color-tertiary-light-blue-200: #bee6eb;
	--color-tertiary-light-blue-300: #a1dae2;
	--color-tertiary-light-blue-400: #8ed3dc;
	--color-tertiary-light-blue-500: #72c8d3;
	--color-tertiary-light-blue-600: #68b6c0;
	--color-tertiary-light-blue-700: #518e96;
	--color-tertiary-light-blue-800: #3f6e74;
	--color-tertiary-light-blue-900: #305459;

	--color-tertiary-purple-50: #f6f2f5;
	--color-tertiary-purple-100: #e2d7e1;
	--color-tertiary-purple-200: #d4c4d3;
	--color-tertiary-purple-300: #c0a9bf;
	--color-tertiary-purple-400: #b498b2;
	--color-tertiary-purple-500: #a17e9f;
	--color-tertiary-purple-600: #937391;
	--color-tertiary-purple-700: #725971;
	--color-tertiary-purple-800: #594557;
	--color-tertiary-purple-900: #443543;

	--color-tertiary-orange-50: #fef5eb;
	--color-tertiary-orange-100: #fddfc1;
	--color-tertiary-orange-200: #fcd0a3;
	--color-tertiary-orange-300: #fabb7a;
	--color-tertiary-orange-400: #f9ad60;
	--color-tertiary-orange-500: #f89938;
	--color-tertiary-orange-600: #e28b33;
	--color-tertiary-orange-700: #b06d28;
	--color-tertiary-orange-800: #88541f;
	--color-tertiary-orange-900: #684018;

	--color-tertiary-brown-50: #f5f0eb;
	--color-tertiary-brown-100: #dfd0bf;
	--color-tertiary-brown-200: #d0b9a1;
	--color-tertiary-brown-300: #bb9876;
	--color-tertiary-brown-400: #ad855b;
	--color-tertiary-brown-500: #996632;
	--color-tertiary-brown-600: #8b5d2e;
	--color-tertiary-brown-700: #6d4824;
	--color-tertiary-brown-800: #54381c;
	--color-tertiary-brown-900: #402b15;

	--color-tertiary-grey-50: #f0f0f1;
	--color-tertiary-grey-100: #d1d2d2;
	--color-tertiary-grey-200: #babcbd;
	--color-tertiary-grey-300: #9b9d9f;
	--color-tertiary-grey-400: #878a8c;
	--color-tertiary-grey-500: #696d6f;
	--color-tertiary-grey-600: #606365;
	--color-tertiary-grey-700: #4b4d4f;
	--color-tertiary-grey-800: #3a3c3d;
	--color-tertiary-grey-900: #2c2e2f;

	--color-tertiary-light-orange-50: #fffaf5;
	--color-tertiary-light-orange-100: #feefe0;
	--color-tertiary-light-orange-200: #fee8d1;
	--color-tertiary-light-orange-300: #feddbb;
	--color-tertiary-light-orange-400: #fdd6ae;
	--color-tertiary-light-orange-500: #fdcc9a;
	--color-tertiary-light-orange-600: #e6ba8c;
	--color-tertiary-light-orange-700: #b4916d;
	--color-tertiary-light-orange-800: #8b7055;
	--color-tertiary-light-orange-900: #6a5641;

	--color-tertiary-light-brown-50: #faf7f5;
	--color-tertiary-light-brown-100: #efe7df;
	--color-tertiary-light-brown-200: #e8dcd0;
	--color-tertiary-light-brown-300: #ddcbbb;
	--color-tertiary-light-brown-400: #d6c1ad;
	--color-tertiary-light-brown-500: #ccb299;
	--color-tertiary-light-brown-600: #baa28b;
	--color-tertiary-light-brown-700: #917e6d;
	--color-tertiary-light-brown-800: #706254;
	--color-tertiary-light-brown-900: #564b40;

	--color-tertiary-light-grey-50: #f7f7f7;
	--color-tertiary-light-grey-100: #e6e6e6;
	--color-tertiary-light-grey-200: #d9dada;
	--color-tertiary-light-grey-300: #c8c9c9;
	--color-tertiary-light-grey-400: #bdbfbf;
	--color-tertiary-light-grey-500: #adafaf;
	--color-tertiary-light-grey-600: #9d9f9f;
	--color-tertiary-light-grey-700: #7b7c7c;
	--color-tertiary-light-grey-800: #5f6060;
	--color-tertiary-light-grey-900: #494a4a;

	--color-succession-blue-50: #f3f7f8;
	--color-succession-blue-100: #d9e5ea;
	--color-succession-blue-200: #c6d8e0;
	--color-succession-blue-300: #adc6d2;
	--color-succession-blue-400: #9dbbc9;
	--color-succession-blue-500: #84aabc;
	--color-succession-blue-600: #789bab;
	--color-succession-blue-700: #5e7985;
	--color-succession-blue-800: #495e67;
	--color-succession-blue-900: #37474f;

	--color-family-blue-50: #f3f9fb;
	--color-family-blue-100: #d8edf1;
	--color-family-blue-200: #c6e4ea;
	--color-family-blue-300: #abd8e1;
	--color-family-blue-400: #9bd1db;
	--color-family-blue-500: #82c5d2;
	--color-family-blue-600: #76b3bf;
	--color-family-blue-700: #5c8c95;
	--color-family-blue-800: #486c74;
	--color-family-blue-900: #375358;

	--color-legal-tax-purple-50: #f6eff4;
	--color-legal-tax-purple-100: #e2cddd;
	--color-legal-tax-purple-200: #d5b5cc;
	--color-legal-tax-purple-300: #c194b5;
	--color-legal-tax-purple-400: #b57fa6;
	--color-legal-tax-purple-500: #a35f90;
	--color-legal-tax-purple-600: #945683;
	--color-legal-tax-purple-700: #744366;
	--color-legal-tax-purple-800: #5a344f;
	--color-legal-tax-purple-900: #44283c;

	--color-expert-fiduciary-grey-50: #f4f4f4;
	--color-expert-fiduciary-grey-100: #dcdcdc;
	--color-expert-fiduciary-grey-200: #cbcbcb;
	--color-expert-fiduciary-grey-300: #b4b3b3;
	--color-expert-fiduciary-grey-400: #a5a4a4;
	--color-expert-fiduciary-grey-500: #8f8d8d;
	--color-expert-fiduciary-grey-600: #828080;
	--color-expert-fiduciary-grey-700: #666464;
	--color-expert-fiduciary-grey-800: #4f4e4e;
	--color-expert-fiduciary-grey-900: #3c3b3b;

	--color-family-business-blue-50: #eaf1f4;
	--color-family-business-blue-100: #bdd2dd;
	--color-family-business-blue-200: #9dbdcc;
	--color-family-business-blue-300: #719fb5;
	--color-family-business-blue-400: #558ca7;
	--color-family-business-blue-500: #2b6f91;
	--color-family-business-blue-600: #276584;
	--color-family-business-blue-700: #1f4f67;
	--color-family-business-blue-800: #183d50;
	--color-family-business-blue-900: #122f3d;

	--color-wealth-green-50: #f3f8f0;
	--color-wealth-green-100: #dbe9d0;
	--color-wealth-green-200: #cadeba;
	--color-wealth-green-300: #b1cf9a;
	--color-wealth-green-400: #a2c586;
	--color-wealth-green-500: #8bb768;
	--color-wealth-green-600: #7ea75f;
	--color-wealth-green-700: #63824a;
	--color-wealth-green-800: #4c6539;
	--color-wealth-green-900: #3a4d2c;

	--color-insurance-brown-50: #f5f3f1;
	--color-insurance-brown-100: #dfdad4;
	--color-insurance-brown-200: #d0c8bf;
	--color-insurance-brown-300: #baafa2;
	--color-insurance-brown-400: #ada090;
	--color-insurance-brown-500: #988874;
	--color-insurance-brown-600: #8a7c6a;
	--color-insurance-brown-700: #6c6152;
	--color-insurance-brown-800: #544b40;
	--color-insurance-brown-900: #403931;

	--color-philanthropy-green-50: #fafbf0;
	--color-philanthropy-green-100: #f0f4d2;
	--color-philanthropy-green-200: #e9eebc;
	--color-philanthropy-green-300: #dfe79d;
	--color-philanthropy-green-400: #d9e28a;
	--color-philanthropy-green-500: #cfdb6d;
	--color-philanthropy-green-600: #bcc763;
	--color-philanthropy-green-700: #939b4d;
	--color-philanthropy-green-800: #72783c;
	--color-philanthropy-green-900: #575c2e;

	--color-investment-green-50: #f0f4f1;
	--color-investment-green-100: #d1ddd3;
	--color-investment-green-200: #baccbe;
	--color-investment-green-300: #9bb5a0;
	--color-investment-green-400: #88a68d;
	--color-investment-green-500: #6a9071;
	--color-investment-green-600: #608367;
	--color-investment-green-700: #4b6650;
	--color-investment-green-800: #3a4f3e;
	--color-investment-green-900: #2d3c2f;

	--color-private-blue-50: #e9f2f4;
	--color-private-blue-100: #bcd6dd;
	--color-private-blue-200: #9cc2cc;
	--color-private-blue-300: #6ea7b5;
	--color-private-blue-400: #5295a7;
	--color-private-blue-500: #277b91;
	--color-private-blue-600: #237084;
	--color-private-blue-700: #1c5767;
	--color-private-blue-800: #154450;
	--color-private-blue-900: #10343d;

	--color-dealing-purple-50: #f1ebef;
	--color-dealing-purple-100: #d2c0ce;
	--color-dealing-purple-200: #bca2b6;
	--color-dealing-purple-300: #9e7894;
	--color-dealing-purple-400: #8b5d80;
	--color-dealing-purple-500: #6e3560;
	--color-dealing-purple-600: #643057;
	--color-dealing-purple-700: #4e2644;
	--color-dealing-purple-800: #3d1d35;
	--color-dealing-purple-900: #2e1628;

	--color-expert-reporting-beige-50: #f9f8f2;
	--color-expert-reporting-beige-100: #ede8d6;
	--color-expert-reporting-beige-200: #e4ddc2;
	--color-expert-reporting-beige-300: #d8cda7;
	--color-expert-reporting-beige-400: #d1c495;
	--color-expert-reporting-beige-500: #c5b57b;
	--color-expert-reporting-beige-600: #b3a570;
	--color-expert-reporting-beige-700: #8c8157;
	--color-expert-reporting-beige-800: #6c6444;
	--color-expert-reporting-beige-900: #534c34;

	--color-corporate-finance-blue-50: #e6ecf1;
	--color-corporate-finance-blue-100: #b0c3d2;
	--color-corporate-finance-blue-200: #8aa6bc;
	--color-corporate-finance-blue-300: #547e9e;
	--color-corporate-finance-blue-400: #33658b;
	--color-corporate-finance-blue-500: #003e6e;
	--color-corporate-finance-blue-600: #003864;
	--color-corporate-finance-blue-700: #002c4e;
	--color-corporate-finance-blue-800: #00223d;
	--color-corporate-finance-blue-900: #001a2e;

	--color-corporate-services-orange-50: #fcf4ed;
	--color-corporate-services-orange-100: #f6dbc8;
	--color-corporate-services-orange-200: #f1caae;
	--color-corporate-services-orange-300: #ebb289;
	--color-corporate-services-orange-400: #e7a372;
	--color-corporate-services-orange-500: #e18c4f;
	--color-corporate-services-orange-600: #cd7f48;
	--color-corporate-services-orange-700: #a06338;
	--color-corporate-services-orange-800: #7c4d2b;
	--color-corporate-services-orange-900: #5f3b21;

	--color-art-management-red-50: #f3eaeb;
	--color-art-management-red-100: #d8bfc0;
	--color-art-management-red-200: #c6a0a2;
	--color-art-management-red-300: #ab7478;
	--color-art-management-red-400: #9b595d;
	--color-art-management-red-500: #823035;
	--color-art-management-red-600: #762c30;
	--color-art-management-red-700: #5c2226;
	--color-art-management-red-800: #481a1d;
	--color-art-management-red-900: #371416;

	--color-property-advisory-red-50: #f8eceb;
	--color-property-advisory-red-100: #e8c4c0;
	--color-property-advisory-red-200: #dda7a2;
	--color-property-advisory-red-300: #cd7f77;
	--color-property-advisory-red-400: #c3665d;
	--color-property-advisory-red-500: #b44034;
	--color-property-advisory-red-600: #a43a2f;
	--color-property-advisory-red-700: #802d25;
	--color-property-advisory-red-800: #63231d;
	--color-property-advisory-red-900: #4c1b16;

	--text-sf-xs: 0.8125rem;
	--text-sf-sm: 0.875rem;
	--text-sf-md: 1rem;
	--text-sf-lg: 1.125rem;
	--text-sf-h1: 2.25rem;
	--text-sf-h2: 2rem;
	--text-sf-h3: 1.8125rem;
	--text-sf-h4: 1.625rem;
	--text-sf-h5: 1.4375rem;
	--text-sf-h6: 1.25rem;

	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-bold: 700;

	--font-default: Roboto, sans-serif;
	--font-code: monospace;
	--font-sf-digital: Lato, sans-serif;

	--leading-shorter: 125%;
	--leading-short: 140%;
	--leading-base: 160%;
	--leading-tall: 180%;

	--radius-px: 1px;
	--radius-xs: 4px;
	--radius-sm: 6px;
	--radius-md: 8px;
	--radius-lg: 16px;
	--radius-full: 99999px;

	--space-1: 0.25rem;
	--space-2: 0.5rem;
	--space-3: 0.75rem;
	--space-4: 1rem;
	--space-5: 1.25rem;
	--space-6: 1.5rem;
	--space-8: 2rem;
	--space-10: 2.5rem;
	--space-12: 3rem;
	--space-16: 4rem;
	--space-20: 5rem;
	--space-24: 6rem;
	--space-32: 8rem;
	--space-40: 10rem;
	--space-48: 12rem;
	--space-56: 14rem;
	--space-64: 16rem;

	--drop-shadow-xs: 0 1px 2px rgba(0, 0, 0, 0.05);
	--drop-shadow-sm: 0 1px 3px rgba(16, 24, 40, 0.1), 0 1px 2px
		rgba(16, 24, 40, 0.06);
	--drop-shadow-md: 0 4px 8px -2px rgba(16, 24, 40, 0.1), 0 2px 4px -2px
		rgba(16, 24, 40, 0.06);
	--drop-shadow-lg: 0 12px 16px -4px rgba(16, 24, 40, 0.08), 0 4px 6px -2px
		rgba(16, 24, 40, 0.03);
	--drop-shadow-xl: 0 20px 24px -4px rgba(16, 24, 40, 0.08), 0 8px 8px -4px
		rgba(16, 24, 40, 0.03);
	--drop-shadow-2xl: 0 24px 48px -12px rgba(16, 24, 40, 0.18);
	--drop-shadow-3xl: 0 32px 64px -12px rgba(16, 24, 40, 0.14);

	--blur-sm: 8px;
	--blur-md: 16px;
	--blur-lg: 24px;
	--blur-xl: 40px;

	--border-width-6: 6px;
	--border-width-10: 10px;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
	}
}
